[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "Utility"]
	path = Utility
	url = https://github.com/Letinemeso/Utility.git
[submodule "L_Variable"]
	path = L_Variable
	url = https://github.com/Letinemeso/L_Variable.git
